@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



main {
  margin: 0;
}
button {
  background-color:blueviolet;
  border-radius: 45px;
  width: 90px;
  height: 30px;
  color: white;
  font-weight: bold;
}

button[disabled] {
  background-color: darkgrey;
}