.mainTittle {
    color: white;
    text-align: center;
    font-size: x-large;
    padding-top: .5em;
    padding-left: .2em;
    padding-right: .2em;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
  
    animation: fix-header linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 300px;
  }
  
  @keyframes fix-header {
    to {
      background: rgba(255, 255, 255, .4);
      backdrop-filter: blur(5px);
      color: black;
    }
  }
  
.subtitle {
    color: white;
    text-align: center;
    opacity: .7;
  }
  
  .recomends {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 56vh;
      transform-style: preserve-3d;
      overflow: auto;
  }
  .box {
      position: relative;
      display: flex;
      transform-style: preserve-3d;
      perspective: 500px;
  }
  .box .item {
      position: absolute;
      top: calc(50% - 150px);
      left: calc(50% - 100px);
      width: 200px;
      height: 300px;
      background: #fff;
      transition: 0.5s;
      box-shadow: 0 0 50px rgba(0,0,0,0.5);
      transform-style: preserve-3d;
      transform-origin: bottom;
      user-select: none;
  
  }
  
  .box .item:nth-child(1) {
      transform: translate3d(-250px, 0, 0) scale(0.8) rotateY(25deg);
      z-index: 1;
    }
    .box .item:nth-child(2) {
      transform: translate3d(-250px, 0, 0) scale(0.8) rotateY(25deg);
      z-index: 2;
    }
    .box .item:nth-child(3) {
      transform: translate3d(-150px, 0, 0) scale(0.9) rotateY(15deg);
      z-index: 3;
    }
    .box .item:nth-child(4) {
      transform: translate3d(0px, 0, 0) scale(1) rotateY(0deg);
      z-index: 4;
    }
    .box .item:nth-child(5) {
      transform: translate3d(150px, 0, 0) scale(0.9) rotateY(-15deg);
      z-index: 3;
    }
    .box .item:nth-child(6) {
      transform: translate3d(250px, 0, 0) scale(0.8) rotateY(-25deg);
      z-index: 2;
    }
    .box .item:nth-child(7) {
      transform: translate3d(250px, 0, 0) scale(0.8) rotateY(-25deg);
      z-index: -1;
    }
  

  
    .buttons {
      position: absolute;
      bottom: 20px;
      display: flex;
      gap: 40px;
    }
  
    .buttons span {
      position: relative;
      width: 50px;
      height: 50px;
      border: 2px solid #fff;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      background: rgb(158, 63, 254);
      align-items: center;
      opacity: 1;
      box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.8);

    }
  
  
  
    .newbuttons {
      position: absolute;
      bottom: -35px;
      display: flex;
      gap: 40px;
    }
    .newbuttons span {
      position: relative;
      width: 50px;
      height: 50px;
      border: 2px solid white;
      background-color: rgb(158, 63, 254);
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
    }
  
    .buttons span::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      border: 2px solid white;
      background-color: rgb(158, 63, 254);
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: -1;
  
      animation-name: pulse;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 5;
    }
  
    @keyframes pulse {
      0% {
        opacity: 0;
      }
      50% {
        scale: 1.5;
        opacity: 60%;
        border: 1px solid white;
      }
    } 
    @keyframes arrowPulse {
        0% {
          
        }
        50% {
          scale: 1.5;
        }
      } 
  
    .buttons span::before {
      content: '';
      position: absolute;
      left: 20px;
      width: 10px;
      height: 10px;
      border-top: 4px solid white;
      border-left: 4px solid white;
      rotate: -45deg;
      z-index: 1;
  
      animation-name: arrowPulse;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 5;
    }
  
    .buttons span:last-child::before {
      content: '';
      position: absolute;
      left: initial;
      right: 17px;
      width: 10px;
      height: 10px;
      border-top: 4px solid white;
      border-left: 4px solid white;
      z-index: 1;
      rotate: 135deg
    }
  
    .fill {
      padding-top: 2em;
      margin-left: 50px;
      margin-right: 50px;
    }
  
    .fillImage {
      width: 250px;
      height: 300px;
    }
  
    .fillText {
      margin-top: 3em;
      color: white;
      text-align: center;
    }