
.ProductItemFinder {
	width: 240px;
	display: inline-grid;
    margin-left: 1.5rem;
    margin-right: auto;
	padding-bottom: 30px;
}
.ProductItemFinder img {
	width: 240px;
	height: 240px;
	border-radius: 20px;
	object-fit: cover;
}
.product-infoFinder {
	display: block;
	width: 120px;
	justify-content: space-between;
	align-items: center;
	margin-top: 4px;

}
.product-infoFinder figure {
	width: 30px;
    margin-left: auto;
}
.product-infoFinder figure img {
	width: 35px;
	height: 35px;
}
.product-infoFinder div p:nth-child(1) {
	font-weight: bold;
	text-align: center;
	font-size: var(--md);
	margin-top: 0;
	margin-bottom: 0px;
	height: 30px;
}
.product-infoFinder div p:nth-child(2) {
	font-size: var(--sm);
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
	color: inherit;
	font-weight: bold;
	height: 50px;
}
@media (max-width: 640px) {
	.cards-containerFinder {
		grid-template-columns: repeat(auto-fill, 140px);
	}
	.ProductItemFinder {
		width: 140px;
	}
	.ProductItemFinder img {
		width: 140px;
		height: 140px;
	}
}