.main-container {

	margin-top: 2em;
}

.ProductList {
	display: flex;
	overflow-y: hidden; 
    overflow-x: auto;
	gap: 26px;
	place-content: initial;
	margin: 0 0 0 .5em;
}

.ProductItemHero {
	display: flex;
	overflow-y: hidden; 
    overflow-x: auto;

	place-content: initial;
}


@media screen and (min-width: 820px)
 {
    .ProductList {
		display: flex;
		justify-content: space-around;
		
	}
}