
.ProductItem {
	width: 240px;
	display:inline-block;
	border-radius: 20px;
}
.ProductItem img {
	width: 240px;
	height: 240px;
	border-radius: 20px 20px 0px 0px;
	object-fit: cover;
}
.product-info {
	display: block;
	width: 120px;
	justify-content: space-between;
	align-items: center;
	margin-top: 4px;
	height: 120px;
}
.product-info figure {
	width: 30px;
    margin-left: auto;
}
.product-info figure img {
	width: 35px;
	height: 35px;
}
.product-info div p {
	font-weight: bold;
	text-align: center;
	font-size: var(--md);
	margin-top: 0;
	margin-bottom: 0px;
}
.product-info div h5 {
	font-size: var(--sm);
	text-align: center;
	margin-top: 0;
	margin-bottom: 0px;
	height: 50px;

}
.ProductItem:nth-child(odd) {
	background-color: #536363;
	border-radius: 20px;
	color: white;

}

.ProductItem h5:nth-child(odd) {
	color: white;

}

.ProductItem:nth-child(even) {
	border-radius: 20px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-width: 2px;

}




@media (max-width: 640px) {
	.cards-container {
		grid-template-columns: repeat(auto-fill, 140px);
	}
	.ProductItem {
		width: 140px;
	}
	.ProductItem img {
		width: 140px;
		height: 140px;
	}
}