
.ProductList {
	display: flex;
	overflow-y: hidden; 
    overflow-x: auto;
	gap: 26px;
	place-content: initial;
	margin: 0 0 0 1em;
}

.ProductItemHero {
	display: flex;
	overflow-y: hidden; 
    overflow-x: auto;

	place-content: initial;
}


@media (max-width: 640px) {
	.ProductList {
		grid-template-columns: repeat(auto-fill, 140px);
	}
}